@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Volkhov:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root{
  --main-color:#FFFFFF;
  --second-color:#FFF1DA;
  --main-yello:#F1A501;
  --main-white:#FFFFFF;
  --main-red:;
  --mian-tranzation-color:;
  --letter-color:#181E4B;
  --second-letter-color:#5E6282;
  --icon-color:#DF6951;
  --main-black:#212832;
};